<div class = "container-fluid">

<h1>Nodes-Network</h1>

<svg width = "850" height = "450" style = "border:1px solid black" >
    
  <rect *ngFor="let node of nodes" [attr.x] = "node['x_coordinate']"  [attr.y] = "node['y_coordinate']" width = "50" height = "50" style= "fill:rgb(0, 45, 128)"  (dblclick) = "onCLick(node.name)">
    <title>{{ node['name'] }}</title>
  </rect>
</svg>

<app-ngx-modal *ngFor ="let nodeitem of nodedetails; index as ind" [myInput] = 'nodeitem[ind+1].name' [nodesInfo] = 'nodeitem[ind+1]' [name]= 'nodeitem[ind+1].name'></app-ngx-modal>  

</div>