<ngx-smart-modal [(identifier)]='myInput'>
    <h1>{{name}}</h1>
    <svg width = "490" height = "80" style = "border:1px solid black">
      <rect *ngFor="let interfaces of nodesInfo['ports'];index as i" 
      [attr.x] = "interfaces['coords']['x']"  
      [attr.y] = "interfaces['coords']['y']" 
      width = "20" height = "20" [id]='i'
      [ngClass] = " { 
                      'red': interfaces.status == 'offline',
                      'green': interfaces.status == 'online',
                      'orange': interfaces.status == 'testing' 
                    }"
      (mouseenter) = "highlightRow($event)" 
      (mouseleave) = "unHighlightRow($event)">
      </rect>  
    </svg> 
    <!-- <img class='image' id="interfaceimage" [src]= "nodesInfo['image']" alt="..."> -->
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-striped table-hover">
        <thead>           
        <tr>
          <th scope="col">IfIndex</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of nodesInfo['ports']; index as i" [id]="'id' + i"     (mouseenter) = 'highlightInterface(i)' (mouseleave) = 'unHighlightInterface()' >
          <td>{{ item.ifindex }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.status }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <button class="btn btn-primary" (click)="closeModal()">Close</button>
</ngx-smart-modal>